<h2>Core information</h2>

<table>
	<tr>
		<td>Name</td>
		<td><%=h @location.name %></td>
	</tr>
	<tr>
		<td>Location type</td>
		<td><%=h @location.location_type.name %></td>
	</tr>
	<tr>
		<td>Description</td>
		<td><%=h @location.description %></td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<td>Address</td>
		<td>
			<%=h @location.street %><br />
			<%=h @location.city + ', ' + @location.state + ' ' + @location.postal_code %><br />
			<%=h @location.country %>
		</td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<td>Phone</td>
		<td><%=h @location.phone %></td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<td>URL</td>
		<td><%= link_to h(@location.url), h(@location.url), {:target => '_blank'} %></td>
	</tr>
</table>

<br />

<%= link_to 'Edit', edit_location_path(@location), {:title => 'Edit core information'} %>
